.curtains-main {
    >div {
        min-height: 875px;
    }
    display: flex;
}

.curtains-home {
    width: 61%;
    background-color: $bcg-product-main-block;
    flex-direction: column;
    row-gap: 2rem;
    padding: 16px 24px;
    border-radius: 24px;


    div {
        font-size: 17px;
    }

    .color-curtains {
        flex-direction: column;

        .color-ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
            grid-template-rows: repeat(4,1fr);
            gap: 1rem;

            h6 {
                font-weight: 400;
            }
 
            .color-li {
                display: flex;
                flex-direction: row;
                align-items: center;
                column-gap: 0.4rem;
                text-align: center;
                position: relative;

                h6 {
                    font-size: 12px;
                }
                
                .icon-color {
                    max-width: 50px;
                    max-height: 50px;
                    border-radius: 8px;
                }
            }
        }
    }
    
    .textile {
        margin-top: 2rem;
    }

    .profile {
        

        .color-ul{
            grid-template-columns: repeat(auto-fill, minmax(172px,1fr));
            grid-template-rows: repeat(2,1fr);
        }
    }
}

.curtains-photo {
    width: 37%;
    position: relative;

    .log{
        position: absolute;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        width:146px;
        height:177px;
        opacity:60%;
    }

    .main-photo{
        width: 100%;
        height: 100%;
        border: 56px;

    }
}

#curtains-direction {
    justify-content: space-between;
    align-items: stretch;
    column-gap: 1rem;
    font-size: $font-input;

    .bcg-curt {
        background-color: #f7f7f7;
        max-width: 790px;
    }

    .curtains-direction-photo {
        max-width: 790px;
        
        .slider-line-3 {
            width: 100%;
            position: relative;
        }


        img {
        width: 100%;
        height: 100%;
        border-radius: 56px;

        }

        .absol {
            background-image: url('img/youtube-icon.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            width: 70px;
            height: 50px;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            z-index: 9999;
            background-size: contain;
        }
    }

    .curtains-direction-text {
        max-width: 45%;
        background-color: $bcg-product-main-block;

        .txt {
            padding: 0 1rem 1rem;
        }

        p {
            font-size: 17px;
            margin-bottom: 0.4rem;
            line-height: 170%;
        }
    }
}

#curtain-care {
    color: $grey-5;


    .curtain-care-info {
        font-size: 19px;
        width: 100%;
        justify-content: space-between;
    }
    .photo-curtains-sm {
        width: 49.5%;

        img {
            width: 100%;
        }
    }

    .photo-curtains-sm-txt{
        background-color: $orange-2;
        border-radius: 12px;
        padding: 0.8rem;
    }


    .curtain-care-info-txt {
        width: 49.5%;
        border-radius: 12px;
        background-color: $grey-4;
        line-height: 170%;
    }
}

#color-solutions {
    color:$grey-1;
    [class^='slider-line-'] {
        margin: 20px 0;
        div {
          margin: 0 10px;
        }
    }
    

    .color-solutions-txt {
        font-size: $font-input;
        
    }
}

.slider-line-4 {
    img {
        width: 100%;
        height: 100%;
    }
}