header {
  @extend %flex-space-between;
  align-items: center;

  li {
    padding: 10px;
  }

  .contacts {
    display: flex;
    align-items: center;
  }

  button {
    background-color: transparent;
  }

  .burger-menu {
    width: 38px;
    height: 53px;

    p {
      font-size: 14px;
      font-weight: 300;
    }

    div {
      height: 38px;
      width: 38px;
      background-image: url('img/vector.svg');
      background-size: contain;
      background-repeat: no-repeat;

    }
  }
}

