header {
  font-size: 18px;
  .block-h {
    max-width: 1345px;
    margin: 10px auto;
  }
  z-index: 99;
   >div {

  @extend %flex-space-between;
  align-items: center;
  li {
    padding: 10px;
    text-transform: uppercase;
  }

  .contacts {
    display: flex;
    align-items: center;
  } 

  button {
    background-color: transparent;
  }

  .burger-menu {
    position: relative;
    width: 38px;
    height: 28px;

    p {
      font-size: 14px;
      font-weight: 300;
    }

    div {
      height: 29px;
      width: 38px;
      background-image: url('img/vector.svg');
      background-size: contain;
      background-repeat: no-repeat;

    }
  }
}
}

.header {
  position: -webkit-sticky; 
  position: sticky;
  z-index: 9999;
  padding: 0 10px;
}

.header-menu {
  position: fixed;
  width: 190px;
  min-height: 274px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: stretch;
  row-gap: 0.5rem;
  background-color: $grey-1;
  border-radius: 8px;
  padding: 12px 16px;
  top: 11px;
  right: 11px;
  z-index: 999999999999;

  li {
    padding: 11px 0;
    font-weight:300;
    font-size: 14px;
    line-height: 17px;
    color: $white;
    text-align: end;
    transition: all 1s;

    &:hover {
      color: #365a0e;
    }
  }
}

.zhirniy {
  padding-top: 6px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: white;
}

.cross {
  width: 24px;
  height: 24px;
  position: relative;
  background-color: transparent;
}

.cross::before,
.cross::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 24px; /* Длина линии равна ширине контейнера */
  top: 11px; /* Позиционируем по центру минус половина ширины линии */
  background-color: #7D8587;
}

.cross::before {
  transform: rotate(45deg);
}

.cross::after {
  transform: rotate(-45deg);
}


.sticky {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  position: fixed;
  top: -8px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}