body {
  background-image: url('img/group-3.svg');
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 50% -6%;
  background-attachment: fixed;
}

 main {
  margin: 0 0.5em;

  li { 
  list-style: unset;
  }
}

.slick-list {
  position: relative;
}

.controls, .controls-1, .controls-2 {
  position: absolute;
  width: 88%;
  right: 0;
  left: 0;
  margin: auto;
  max-width: 1345px;

}

.button-none-h {
  width: 96% !important;
  margin: auto;
  right: 0;
  left: 0;
  top: 262px;
  bottom: 0;

  .control-prev {
    left: -11px;
  }

  .control-next {
    right: -11px;
  }
}

#color-solutions .controls-1, .controls-2{
  right: 0;
  left: 0;
  margin: auto;
  width: 99% !important;

}

#projects {
  .controls, .controls-1, .controls-2{
    position: absolute;
    width: 99% !important;
    margin: auto;
    right: 0;
    left: 0;
  }

  [class^='control-']{
    top: 96px;
    bottom: 0;
  }
}

[class^='control-']{
  position: absolute;
  height: 24px;
  width: 24px;
  border-top: 4px solid $orange-2;
  border-right: 4px solid $orange-2;
  background-color: transparent;
  transform: rotate(225deg);

  top: -12px !important;
  bottom: 0;
  z-index: 9;
}

[class^='control-prev'] {
  left: 0;
}

[class^='control-next'] {
  transform: rotate(45deg);
  right: 0;
}

.curtains-direction {
  text-align: justify;

}

#main-block {
  justify-content: center;
  column-gap: 4%;


  .slick-prev, .slick-next {
    display: none !important;
  }

  #form-order-calculation {
    z-index: 999991;

    .wpcf7-spinner {
      display: none;
    }

    .form-order-calculation-cf7 {
      position: relative;
      margin: auto;
    }

    p {
      width: 100%;
      max-height: 200px;
      display: block;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 0.2rem;
      row-gap: 0.6rem;
      flex-wrap: wrap;

      input {
        font-size: $font-input;
        height: 47px;
        border-radius: 36px;
        margin-bottom: .5rem;
      }

      [type^='text'] {
        width: 80%;
      }

      [type^='phone'] { 
        width: 80%;
      }

      [type^='submit'] {
        background-color: $orange-1;
        color: $white;
        font-family: 'Inter-SemiBold';
        width: 66% !important;
        height: 47px;
        cursor: pointer;
      }
    }
  }

  .product {
    background-color: $bcg-product-main-block;
    width: calc(100%/3 - ($p-13 * 2));
    max-width: 420px;
    position: relative;
    height: auto;

    h4 {
      font-size: 30px;
    }
    .img-product {

      img {
        width: 100% !important;
        max-width: 100% !important;

        border-radius: $border-radius;        
      }
    }

    h3, .description-product {
      margin: 24px;
    } 

    li {
      list-style: inherit;
    }
  }
}

.items-slick {
  .slick-track {
    display: flex;
    align-items: stretch;
  }
}



.calculate {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;

  #form-order-calculation{

    >div {
      row-gap: 1.5rem;
    }
    .form-order-calculation-cf7 p{

      [type^='text'], [type^='submit'] {
        max-width: 419px;
        width: 100%;
        min-width: 140px;
      }

      .phone {
        max-width: 288px;
        width: 100%;
        min-width: 245px;
      } 
    }  
  }
}

[id^='calculator-widget-'] {
  // display: none;
}

[id^='calculator-widget-'] + a {
  padding: 37px;
  width: 32%;
  background: url(img/calc-icon.svg) no-repeat 50%, #ef7f1a url(img/clik.png) no-repeat 35% 65%;
  background-size: auto, 25px !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: content;
  border-radius: 24px;
  position: relative;

  &::before {
    content: 'Калькулятор';
    font-size: $font-h3;
    color: $grey-3;
  }

  &::after {
    content: 'Нажмите для расчета';
    font-weight: 700;
    font-size: $font-h5;
    color: $orange-2;
  }
}

#form-order-calculation {
  width: 100%;
  align-items: stretch;
  background-image: url('img/group-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  
  h3 {
    font-size: 30px;
  }

  .form-order-calculation-cf7 {

    p {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 1.5%;
      row-gap: 0.8rem;
      flex-wrap: nowrap !important;

      .wpcf7-spinner {
        display: none;
      }

      input {
        font-size: $font-input;
        height: 72px;
        border-radius: 36px;
        padding: 0.8rem 1.4rem;
      }

      [type^='text'], [type^='submit'] {
        width: 210px;
      }

      .phone {
        width: 288px;
        padding: 0.8rem 0rem 0.8rem 1.4rem;
      }

      [type^='submit'] {
        background-color: $orange-1;
        color: $white;
        font-family: 'Inter-SemiBold';
        cursor: pointer;
      }
    }   
  }
  
  > div {
      @extend %padding;
      display: flex;
      flex-direction: column;
      
      h2 {
       color: $white;
      }
  
    //   form {
  
    //    input {
    //       font-size: $font-input;
    //       height: 72px;
    //       border-radius: 36px;
    //    }
  
    //    [type^='text'], [type^='submit'] {
    //       width: 210px;
    //    }
  
    //    [type^='phone'] {
    //       width: 329px;
    //    }
  
    //    [type^='submit'] {
    //       background-color: $orange-1;
    //       color: $white;
    //       font-family: 'Inter-SemiBold';
    //    }
    // }
  }
}

#about {
  position: relative;

  > div:first-child {
    @extend %padding;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-areas:  "h h h"
                          "logo content .";
    background-color: $grey-3;
    
    h2 {
      grid-area: h;
    }

    .logo {
      grid-area: logo;

      img {
        width: 100%;
      }
    }

    .content {
      grid-area: content;

      p {
        padding-bottom: 20px;
      }
    }
  }

  .girl {
    position: absolute;
    right: 0;
    top: -155px;
  }
}

#projects {

  [class^='slider-line-'] {
    margin: 20px auto;
    width: 98%;

    div {
      margin: 0 10px;
      border-radius: 21px;
    }
  }

  .slide {
    max-width: 330px;
    max-height: 220px;
    

    img {
      width: 100%;
      height: 100%;
      border-radius: 12px;

    }
  }
}

#dilers {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  > div {
    min-height: 420px;
  }

  h2 {
    color: $text-white;
  }

  .welcome {
    background: url('img/bcg-img.png');
    background-size: cover;

    > div {
      @extend %flex-space-between;
      flex-direction: column;
      @extend %padding;
      background: linear-gradient(to top right, rgb(0,0,0), rgba(0,0,0,0));
      opacity: .9;
      height: 100%;
      min-height: 420px;

      li {
        margin-left: 17px;
      }
    }
  }

  .for-dilers {
    @extend %flex-space-between;
    flex-direction: column;
    @extend %padding;
  }
  ol {
    margin-left: 0;
  }
}

#contacts {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 3fr;
  font-size: 26px;

  > div {
    min-height: 200px;
  }

  .contacts {
    @extend %flex-space-between;
    flex-direction: column;
    @extend %padding;
    background-color: $bcg-block-contacts;
    background-image: url('img/group.svg');
    background-repeat: no-repeat;

    h2 {
      color: $text-white;
    }

    .adress {
      display: flex;
      margin-top: 10px;
      font-size: 18px;

      &::before {
        display: block;
        content: '';
        background: url('img/bx_map.svg');
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }

    #map iframe {
      border-radius: 24px;
    }
  }
}

.rel {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  justify-content: center;
}

ol li {
  font-size: 17px;
}

#calculator-widget-large, #calculator-widget-medium {
  display: none;
}