@media screen and (max-width: 991px) {
    .d-md-none {
      display: none !important;
    }
  }


@media screen and (max-width: 575px) {

    h1 {
        font-size: $font-m-h1;
    }
    
    h2 {
        font-size: $font-m-h2;
    }
    
    h3 {
        font-size: $font-m-h3;
    }
    
    h4 {
        font-size: $font-m-h4;
    }
    
    h5 {
        font-size: $font-m-h5;
    }
    
    h6 {
        font-size: $font-m-h6;
    }
    
    .font-input {
        font-size: $font-m-input;
    }
    
    p{
        font-size: $font-m-p;
    }



    .p-8 {
        padding: 0.5rem;
    }
      
    .p-cont{
        padding: 0 1rem;
    }
      
    .p-t-8 {
        padding-top: 0.5rem;
    }
      
    .p-b-8 {
        padding-bottom: 0.5rem;
    }
      
    .p-t {
        padding-top: 30px;
    }
      
    .p-t-16 {
        padding-top: 16px;
    }
      
    .p-t-b-11 {
        padding: 11px 0;
    }
      
    .p-b-16 {
        padding-bottom: 16px;
    }
      
    .p-30 {
        padding: 30px
    }
      
    .p-16 {
        padding: 16px;
    }
      
    .p-24 {
        padding: 24px;
    }
      
    .p-b-30 {
        padding-bottom: 30px;
    }

    .p-b-40 {
        padding-bottom: 21px;
    }

    .m-b-60 {
        margin-bottom: 60px;
    }

    .m-t-16 {
        margin-top: 1rem;
    }


    %padding {
    padding: 24px;
    }

    .block {
        margin: 16px auto !important;
    }

    .m-30 {
        margin: -30px auto 0 !important;
      }
    

    .p-img {
        padding-top: 0;
      }

      .pages-curt {
        >div {
            line-height: 130% !important;
        }   
        p {
            font-size: 12px !important;
        }

        h1 {
            font-size: 24px !important;
        }

        h4 {
            font-size: 22px !important;
        }

        h5 {
            font-size: 20px !important;
        }

        li {
            &::marker {
                font-size: 13px;
            }
        }
      }

}