@media screen and (max-width: 575px) {

    .d-none {
        display: none;
    }

    .calculate {
        h5 {
            display: none;
        }
    }

    #main-block {
        .curtains-home .color-curtains {
            .color-ul, .color-ul-mos {
                display: block;
                flex-direction: row;
                column-gap: 0;                
                
                .color-li, .color-li-mos {
                    display: flex !important;
                    flex-direction: column !important;
                    row-gap: 0.5rem !important;
                    max-width: 100px !important;
                    margin: 0 0.2rem;

                    .icon-color {
                        max-width: 80px !important;
                        max-height: 80px !important;
                        width: 80px !important;
                        height: 80px !important;
                    }                    
                }
            }
        }
    }

    .curtains-home {
        .product {
            max-width: 100%;
        }
    }
    .calculate .calc {
        justify-content: space-between;
        flex-direction: row;

    }
    .calculate > div {
         min-height: 1px;
    }

    .hover-text-decoration {
        .logo {
            padding-left: .5em;
        }
    }

    .curtains-direction-photo {
        img, .absol {
            border-radius: 12px !important;

        }
    }

    .calculate .calc{
        padding: 16px 8px !important;
        h3 {
            font-size: 25px;
        }

         div {
            background-image: url('img/cursor.svg');
            width: 24px;
            height: 24px;
            position: absolute;
            bottom: 3px;
            right: 24px;
            z-index: 9999;
         }
    }

    #contacts .contacts .adress{
        font-size: 17px;
    }

    #form-order-calculation {
        >div {
            padding: 1rem 0.5rem;
        }
    }


    footer > div {
        font-size: 12px !important;
        .title-footer-nav {
            margin-bottom: 8px !important;
            margin-top: 16px !important;
        }
    }

    .tel-f, .mail-f {
        &::before {
            left: -36px;
        }
    }

    .sticky {
        top: -16px;
    }
}