@import '_min-992px_max-1199px';
@import '_max-575px';
@media screen and (min-width: 991px) {
    .photo-min{
        display: none;
    }
    
    .none {
        display: none;
    }
}

@media screen and (max-width: 991px) {

    #curtains-direction {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .curtains-direction-text {
            max-width: 100%;
        }

        > div {
            max-width: 100%;
            height: 100%;
        }

        .curtains-direction-photo {
            width: 100%;
            display: flex;
            justify-content: center;

        }
    }


    .photo-curtains-sm, .photo-curtains-sm-txt {
        width: 100% !important;
    }

    #curtain-care .curtain-care-info-txt {
        width: 100%;
    }

    #contacts .contacts {
        text-align: center;
        align-items: center;
    }
    

    .curtain-care-info {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        > div {
            max-width: 100%;
        }
    }

    .reverse {
        flex-direction: column-reverse;
    }

        .curtains-main {
            display: flex !important;
            flex-direction: column  !important;

            .curtains-home {
                width: 100%;
            }
        }
        
        .photo-min{
            margin-top: 1rem;
        }
        
        .curtains-photo  {
            display: none;
        }
    .calculate-none{
        display: none;
    }


        .hover-text-decoration {
            display: grid !important;
            grid-template-columns: 2fr 1fr 1fr !important;
        }
    


}

@media screen and (max-width: 992px) {
    .d-md-none {
        display: none !important;
    }

    #about {
      
        > div:first-child {
          gap: 16px;
          grid-template-columns: 1fr;
          grid-template-areas:  "h"
                                "logo"
                                "content";

            .logo img {
                width: 40%;
            }
        }
    }

    #contacts {
        gap: 16px;
        grid-template-columns: 1fr;

        >div {
            min-height: 190px;
        }
    }
    
    #dilers {
        gap: 16px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {



    footer {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        padding: 16px;
      
        > div {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-auto-flow: column;
        }
    }
    #form-order-calculation {
        .form-order-calculation-cf7 {
            p {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: 0.2rem;
            row-gap: 0.4rem;
            flex-wrap: wrap;

            input {
                font-size: $font-m-input;
                height: 72px;
                border-radius: 36px;
            }
        
            [type^='text']{
                width: 95%;
            }
        
            [type^='tel'] {
                width: 95%;
            }
        
            [type^='submit'] {
                width: 65%;
            }
            }  
        }  
    } 
        
    .d-sm-none {
        display: none;
    }
 
      
}

@media screen and (min-width:768px) {
    #main-block {
        #form-order-calculation {
            display: none;
        }
    }
}
