@media (min-width: 992px) and (max-width: 1299px) {
  body {
    font-size: 15px;
    margin: 0 1.5em;

    #main-block {
      .product {
        .description-product {
          margin: 1em;
        }
      }
    }
  }

  #contacts .contacts .adress{
    font-size: 17px;
  }
}