@media (min-width: 992px) and (max-width: 1299px) {
  main {
    font-size: 15px;
    margin: 0 1.5em;

    h2 {
    font-size: 36px !important;
    }

    #main-block {
      .product {
        .description-product {
          margin: 1em;
        }
      }
    }
  }

  #contacts .contacts .adress{
    font-size: 17px;
  }

  header  {
    font-size: 17px;
    li {
      padding: 9px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .calculate   #form-order-calculation{

    > div {
      padding: 8% 10px; 
    }
    
    h3 {
      font-size: 25px;
    
    }
  }

  header  {
    font-size: 12px;
    li {
      padding: 9px;
    }
  }
}



@media (min-width: 1040px) {
  .calculate #form-order-calculation .form-order-calculation-cf7 p [type^=text], .calculate #form-order-calculation .form-order-calculation-cf7 p [type^=submit] {
    max-width: 210px !important;
  }
}